#wrapper {
    position: relative;
  }
  
  #main-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 40px;
    font-size: 0.9em;
  }
  
  .page-container {
    position: relative;
    overflow-y: scroll;
  }
  
  label {
    cursor: pointer;
    font-size: 1.2em;
  }
  
  .ui-sys-error-message {
    font-size: 0.8em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: red;
  }
  
  .invalid-input {
    background-color: #ddee11;
  }
  
  .ui-sys-hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  
  .ui-sys-show {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
  }
  
  th {
    cursor: pointer;
  }
  
  .ui-sys-icon-container {
    position: relative;
  }
  
  .ui-sys-icon-container a {
    margin: 1px;
    padding: 1px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    position: relative;
    background: black;
    border-radius: 50%;
  }
  
  .ui-sys-icon-container a img {
    width: 100%;
    height: 100%;
    padding: 2px;
    border-radius: 50%;
    border: 2px dashed black;
    background: white;
    margin: 2px;
  }
  
  .ui-sys-icon-container div {
    text-align: center;
    font-size: 1.1em;
    color: #1122ee;
    font-style: italic;
    font-weight: bold;
  }
  
  .cmd {
    cursor: pointer;
  }
  
  .ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .ui-autocomplete > li {
    padding: 3px 20px;
  }
  
  .ui-autocomplete > li.ui-state-focus {
    background-color: #DDD;
  }
  
  .ui-helper-hidden-accessible {
    display: none;
  }
  
  .document-controls-bottom-right {
    position: relative;
    text-align: right;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 3px;
    margin: 0;
  }
  .document-controls-bottom-right .btn-control {
    margin-left: 2px;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    button.add-record, a.add-record, .btn-form-submit {
      width: 100%;
    }
  }
  /*# sourceMappingURL=page.css.map */